@page "/"
@using WordDaze.Shared

@inject HttpClient Http

<WdHeader Heading="WordDaze" SubHeading="A Blazor Powered Blogging App"></WdHeader>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in blogPosts)
            {
                <BlogPostPreview BlogPost=@post></BlogPostPreview>
                <hr />
            }
        </div>
    </div>
</div>

@code
{
    protected List<BlogPost> blogPosts { get; set; } = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBlogPosts();
    }
    
    private async Task LoadBlogPosts() 
    {
        var blogPostsResponse = await Http.GetFromJsonAsync<List<BlogPost>>(Urls.Server + Urls.BlogPosts);
        blogPosts = blogPostsResponse.OrderByDescending(p => p.Posted).ToList();
    }
}
